parameters:
    database_driver: pdo_pgsql
    database_host: 127.0.0.1
    database_port: 5432
    database_name: ~
    database_user: ~
    database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: ThisTokenIsNotSoSecretChangeIt

    proxy_file_config_path: "%kernel.root_dir%/config/proxy_config.yml"
    url_proxy_site: "http://free-proxy-list.net/"

    google_geocode_uri: "https://maps.googleapis.com/maps/api/geocode/json"